<div class="grid grid-cols-12 gap-8">
  <sprout-card class="col-span-12">
    <div class="flex justify-between items-center p-2">
      <div>Articles</div>
      <select>
        <option>- created date</option>
        <option>+ created date</option>
      </select>
    </div>
    <hr />
    <div class="grid grid-cols-3 gap-4">
      <div
        class="col-span-3 md:col-span-1 p-4"
        *ngFor="let article of articles"
      >
        <div class="rounded bg-slate-100 shadow">
          <img
            class="rounded-t w-100 max-h-24 object-cover"
            src="https://placehold.co/640"
            alt="placeholder"
          />
          <div class="p-4">
            <div class="text-xl font-bold mb-3">{{ article.title }}</div>
            <div class="mb-4 font-medium">{{ article.description }}</div>
            <div class="grid grid-cols-3 md:grid-cols-4 gap-4 font-semibold">
              <div class="col-span-1 flex items-center gap-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z"
                  />
                </svg>
                <div>{{ article.comments > 10 ? '10+' : article.comments }}</div>
              </div>
              <div class="col-span-1 flex items-center gap-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z"
                  />
                </svg>
                <div>{{ article.shares > 10 ? '10+' : article.shares }}</div>
              </div>
              <div class="col-span-1 md:col-span-2 flex items-center gap-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
                <div>{{ article.date | date }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </sprout-card>
  <sprout-card class="col-span-12"></sprout-card>
</div>
