<div class="flex flex-col gap-8">
  <div class="grid grid-cols-2 gap-8">
    <sprout-card>
      <div class="font-bold mb-4">Sales</div>
      <div class="font-black text-3xl">120</div>
      <div class="flex items-center text-green-500">
        <div>+12%&nbsp;</div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"
            />
          </svg>
        </div>
      </div>
    </sprout-card>
    <sprout-card>
      <div class="font-bold mb-4">Revenue</div>
      <div class="font-black text-3xl">$4500</div>
      <div class="flex items-center text-green-500">
        <div>+20%&nbsp;</div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"
            />
          </svg>
        </div>
      </div>
    </sprout-card>
    <sprout-card>
      <div class="font-bold mb-4">Visitors</div>
      <div class="font-black text-3xl">360</div>
      <div class="flex items-center text-red-500">
        <div>-24%&nbsp;</div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3"
            />
          </svg>
        </div>
      </div>
    </sprout-card>
    <sprout-card>
      <div class="font-bold mb-4">Stock</div>
      <div class="font-black text-3xl">164</div>
      <div class="flex items-center text-green-500">
        <div>+30%&nbsp;</div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"
            />
          </svg>
        </div>
      </div>
    </sprout-card>
  </div>
  <sprout-card>e</sprout-card>
  <sprout-card>f</sprout-card>
  <div class="grid grid-cols-3 gap-8">
    <sprout-card class="col-span-2">g</sprout-card>
    <sprout-card>h</sprout-card>
  </div>
</div>
