<div class="grid grid-cols-12 gap-8">
  <div class="col-span-12 flex justify-between item-center mb-4">
    <div class="flex gap-4 items-center">
      <sprout-avatar
        size="lg"
        monogram="AA"
        class="bg-white text-slate-800 border-slate-200"
      ></sprout-avatar>
      <div>
        <div class="text-2xl font-black">Welcome USER</div>
        <div>Your last login was on 04/05/2022 at 10:24 am</div>
      </div>
    </div>
    <div class="flex gap-4 items-center">
      <button sproutButton variant="icon" btnStyle="secondary" class="relative">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4 absolute top-1/2 -translate-1/2 left-1/2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"
          />
        </svg>
      </button>
      <button sproutButton variant="icon" btnStyle="secondary" class="relative">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4 absolute top-1/2 -translate-1/2 left-1/2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z"
          />
        </svg>
      </button>
      <button sproutButton variant="icon" class="relative">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4 absolute top-1/2 -translate-1/2 left-1/2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5"
          />
        </svg>
      </button>
    </div>
  </div>
  <sprout-card class="col-span-12 md:col-span-6 xl:col-span-4"></sprout-card>
  <sprout-card class="col-span-12 md:col-span-6 xl:col-span-4"></sprout-card>
  <sprout-card class="col-span-12 md:col-span-6 xl:col-span-2"></sprout-card>
  <sprout-card class="col-span-12 md:col-span-6 xl:col-span-2"></sprout-card>
  <sprout-card class="col-span-12 xl:col-span-4"></sprout-card>
  <sprout-card class="col-span-12 xl:col-span-8"></sprout-card>
  <sprout-card class="col-span-12 lg:col-span-6"></sprout-card>
  <sprout-card class="col-span-12 lg:col-span-6"></sprout-card>
</div>
